In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt 
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6
from datetime import datetime
from pmdarima.arima import auto_arima

In [5]:
# 1. Carregamento da base dados
data = pd.read_csv('../data/AirPassengers.csv')

# 2. Conversão da coluna 'Month' para o formato 'ano-mês'
data['Month'] = pd.to_datetime(data['Month'], format='%Y-%m')

# 3. Definindo a coluna 'Month' como índice
data.set_index('Month', inplace=True)

In [6]:
data

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121
...                 ...
1960-08-01          606
1960-09-01          508
1960-10-01          461
1960-11-01          390
1960-12-01          432

[144 rows x 1 columns]